$infoBagColor: rgba(0, 0, 0, 0.49);
$infoBagHoverColor: rgba(0, 0, 0, 0.71);
$textAbout: rgba(178, 255, 196, 0.79);
$textAboutLinks: rgba(178, 255, 196, 0.55);
$skillBorder: rgba(183, 197, 193, 0.23);
$skillBorderHover: rgba(255, 255, 255, 0.73);
$linksUnderLine: rgba(3, 236, 202, 0.58);
$navActive:rgba(219, 255, 222, 0.62);
$borderAHover:rgba(125, 255, 125, 0.58);