@import "colors";
$sizeImage: 120px;
$contactImageSize: 30px;
.card{
  align-self: center;
  margin-bottom: 2%;
  border: $skillBorder solid 1px;
  width: 30%;
  min-width: 300px;
  background: $infoBagColor;
  display: flex;
  padding: 1% 1% 0.1% 1%;
  .cardImage{
    max-height: $sizeImage;
    display: flex;
    align-self: center;
  }
  .cardTechnologies{
    margin-top: 13%;
    text-decoration-line: underline;
  }
  .cardName{
    margin-bottom: 3%;
  }
  .cardDescription{
    color: $textAbout;
    min-width: 150px;
    min-height: 30px;
    max-height: 300px;
    h3{
      font-size: 17px;
    }
  }

  img{
    align-self: end;
    width: $sizeImage;
    height: $sizeImage;
  }
  .cardText{
    color: white;
    margin-left: 5%;
    .cardContact{
      display: flex;
      justify-content: flex-end;
      max-height: 40px;
      }
      a{
        max-width: $contactImageSize;
        max-height: $contactImageSize;
        margin-right: 7%;
        img{
          margin-top: 60%;
          width:  $contactImageSize;
          height: $contactImageSize;
      }
        img:hover{
          cursor: pointer;
        }
    }
  }
}

.card:hover {
  border: $skillBorderHover solid 1px;
  background: $infoBagHoverColor;
}

@media (max-width: 1300px) {
  .card{
    min-width: 350px;
    padding-left: 10px;
    margin-bottom: 10%;
    img{
      margin-top: 15%;
    }
    .cardContact{
      a{
        img{
          margin-top: 50%;
        }
      }
    }
  }
}
